## Agrupa os valores de cada ativo por ano escolhido

#### É necessário extrair a planilha de extrato do Kinvo e seguir os passos abaixo antes de executar o script
- Salvar a planilha em formato csv
- Usar o nome 'proventos-kinvo.csv'
- Precisa estar com encoding UTF-8
- Separador | (alt+124)

Esse script faz o agrupamento de todos os ativos descritos no extrato do kinvo desde que sejam referentes a proventos (rendimento, dividendo ou JCP), soma os valores do ano escolhido e ao final deixa tudo claro e simplificado para ajudar na declaração dos rendimentos no imposto de renda.

In [1]:
import pandas as pd
ano_filtro = 2020

In [2]:
data = pd.read_csv('../files/proventos-kinvo.csv', sep='|', encoding='utf-8')

In [3]:
data.head()

         Data                Produto Saldo bruto            Descrição
0  08/05/2020   LREN3 - LOJAS RENNER        0,04           Dividendos
1  19/08/2020    MGLU3 - MAGAZ LUIZA        0,06  Juros sobre capital
2  25/08/2020  XPML11 - FII XP MALLS        0,09          Rendimentos
3  20/02/2020     KLBN4 - KLABIN S/A        0,09           Dividendos
4  29/11/2019       COGN3 - COGNA ON         0,1           Dividendos

In [4]:
data.describe()

              Data               Produto Saldo bruto    Descrição
count          348                   348         348          348
unique         117                    49         257            5
top     14/08/2020  BCFF11 - FII BC FFII        7,02  Rendimentos
freq            16                    37          10          147

In [5]:
data.dtypes

Data           object
Produto        object
Saldo bruto    object
Descrição      object
dtype: object

In [6]:
data2 = data.rename(columns={
    'Data': 'data',
    'Produto': 'produto',
    'Saldo bruto': 'saldo',
    'Descrição': 'descricao'
})

In [7]:
data2.head()

         data                produto saldo            descricao
0  08/05/2020   LREN3 - LOJAS RENNER  0,04           Dividendos
1  19/08/2020    MGLU3 - MAGAZ LUIZA  0,06  Juros sobre capital
2  25/08/2020  XPML11 - FII XP MALLS  0,09          Rendimentos
3  20/02/2020     KLBN4 - KLABIN S/A  0,09           Dividendos
4  29/11/2019       COGN3 - COGNA ON   0,1           Dividendos

Altera , para .

In [8]:
data2.saldo = [saldo.replace('.', '').replace(',', '.') for saldo in data2.saldo]

In [9]:
data2.head()

         data                produto saldo            descricao
0  08/05/2020   LREN3 - LOJAS RENNER  0.04           Dividendos
1  19/08/2020    MGLU3 - MAGAZ LUIZA  0.06  Juros sobre capital
2  25/08/2020  XPML11 - FII XP MALLS  0.09          Rendimentos
3  20/02/2020     KLBN4 - KLABIN S/A  0.09           Dividendos
4  29/11/2019       COGN3 - COGNA ON   0.1           Dividendos

In [10]:
data2 = data2.astype({'saldo': 'float'})

In [11]:
data2.dtypes

data          object
produto       object
saldo        float64
descricao     object
dtype: object

Extraindo o ano da data

In [12]:
data2['ano'] = [data.split('/')[2] for data in data2.data]

In [13]:
data2.head()

         data                produto  saldo            descricao   ano
0  08/05/2020   LREN3 - LOJAS RENNER   0.04           Dividendos  2020
1  19/08/2020    MGLU3 - MAGAZ LUIZA   0.06  Juros sobre capital  2020
2  25/08/2020  XPML11 - FII XP MALLS   0.09          Rendimentos  2020
3  20/02/2020     KLBN4 - KLABIN S/A   0.09           Dividendos  2020
4  29/11/2019       COGN3 - COGNA ON   0.10           Dividendos  2019

In [14]:
data2.dtypes

data          object
produto       object
saldo        float64
descricao     object
ano           object
dtype: object

In [15]:
data2 = data2.astype({'ano': 'int'})

In [16]:
data2.dtypes

data          object
produto       object
saldo        float64
descricao     object
ano            int32
dtype: object

In [17]:
data2.head()

         data                produto  saldo            descricao   ano
0  08/05/2020   LREN3 - LOJAS RENNER   0.04           Dividendos  2020
1  19/08/2020    MGLU3 - MAGAZ LUIZA   0.06  Juros sobre capital  2020
2  25/08/2020  XPML11 - FII XP MALLS   0.09          Rendimentos  2020
3  20/02/2020     KLBN4 - KLABIN S/A   0.09           Dividendos  2020
4  29/11/2019       COGN3 - COGNA ON   0.10           Dividendos  2019

In [18]:
# Filtrando apenas 2020
data_year = data2[data2.ano == ano_filtro]

In [19]:
dataREND = data_year[data_year.descricao == 'Rendimentos']
dataJCP = data_year[data_year.descricao == 'Juros sobre capital']
dataDIV = data_year[data_year.descricao == 'Dividendos']

In [20]:
dataREND

           data                produto  saldo    descricao   ano
2    25/08/2020  XPML11 - FII XP MALLS   0.09  Rendimentos  2020
9    31/08/2020         BBAS3 - BRASIL   0.16  Rendimentos  2020
11   14/08/2020  VISC11 - FII VINCI SC   0.18  Rendimentos  2020
12   14/07/2020  VISC11 - FII VINCI SC   0.19  Rendimentos  2020
14   15/10/2020  VISC11 - FII VINCI SC   0.20  Rendimentos  2020
..          ...                    ...    ...          ...   ...
204  15/06/2020   BCFF11 - FII BC FFII  15.20  Rendimentos  2020
207  13/03/2020   BCFF11 - FII BC FFII  17.20  Rendimentos  2020
212  14/07/2020   BCFF11 - FII BC FFII  14.30  Rendimentos  2020
218  16/11/2020   BCFF11 - FII BC FFII  12.30  Rendimentos  2020
219  14/12/2020   BCFF11 - FII BC FFII  14.30  Rendimentos  2020

[112 rows x 5 columns]

In [21]:
dataJCP

           data              produto  saldo            descricao   ano
1    19/08/2020  MGLU3 - MAGAZ LUIZA   0.06  Juros sobre capital  2020
6    05/11/2020     RENT3 - LOCALIZA   0.15  Juros sobre capital  2020
7    15/10/2020     RENT3 - LOCALIZA   0.15  Juros sobre capital  2020
8    15/09/2020     RENT3 - LOCALIZA   0.15  Juros sobre capital  2020
10   14/02/2020     RENT3 - LOCALIZA   0.17  Juros sobre capital  2020
19   19/08/2020  MGLU3 - MAGAZ LUIZA   0.30  Juros sobre capital  2020
28   28/12/2020        TAEE4 - TAESA   0.45  Juros sobre capital  2020
33   25/11/2020        TAEE4 - TAESA   0.48  Juros sobre capital  2020
35   26/08/2020        TAEE4 - TAESA   0.48  Juros sobre capital  2020
43   28/05/2020        TAEE4 - TAESA   0.50  Juros sobre capital  2020
64   07/04/2020           B3SA3 - B3   0.61  Juros sobre capital  2020
68   07/08/2020           B3SA3 - B3   0.62  Juros sobre capital  2020
70   07/10/2020           B3SA3 - B3   0.63  Juros sobre capital  2020
91   13/01/2020           B3SA3 - B3   0.81  Juros sobre capital  2020
115  07/10/2020   ODPV3 - ODONTOPREV   2.13  Juros sobre capital  2020
132  28/12/2020        TAEE4 - TAESA   4.46  Juros sobre capital  2020
134  25/11/2020        TAEE4 - TAESA   4.80  Juros sobre capital  2020
135  26/08/2020        TAEE4 - TAESA   4.83  Juros sobre capital  2020
136  28/05/2020        TAEE4 - TAESA   5.04  Juros sobre capital  2020
162  30/09/2020       BBAS3 - BRASIL   8.74  Juros sobre capital  2020
169  30/12/2020       BBAS3 - BRASIL   9.94  Juros sobre capital  2020
186  27/11/2020       BBAS3 - BRASIL  16.56  Juros sobre capital  2020
206  31/08/2020       BBAS3 - BRASIL  15.20  Juros sobre capital  2020

In [22]:
dataDIV

           data               produto  saldo   descricao   ano
0    08/05/2020  LREN3 - LOJAS RENNER   0.04  Dividendos  2020
3    20/02/2020    KLBN4 - KLABIN S/A   0.09  Dividendos  2020
63   15/05/2020         TAEE4 - TAESA   0.60  Dividendos  2020
92   13/01/2020            B3SA3 - B3   0.82  Dividendos  2020
93   07/04/2020            B3SA3 - B3   0.84  Dividendos  2020
109  07/05/2020            B3SA3 - B3   1.59  Dividendos  2020
110  28/05/2020         TAEE4 - TAESA   1.75  Dividendos  2020
112  26/08/2020        ITSA4 - ITAUSA   2.00  Dividendos  2020
113  01/07/2020        ITSA4 - ITAUSA   2.00  Dividendos  2020
116  26/08/2020         TAEE4 - TAESA   2.13  Dividendos  2020
122  07/10/2020            B3SA3 - B3   3.24  Dividendos  2020
126  25/11/2020         TAEE4 - TAESA   3.97  Dividendos  2020
127  01/10/2020        ITSA4 - ITAUSA   4.00  Dividendos  2020
140  15/05/2020         TAEE4 - TAESA   5.98  Dividendos  2020
158  28/08/2020     JHSF3 - JHSF PART   7.88  Dividendos  2020
183  09/12/2020    ODPV3 - ODONTOPREV  13.68  Dividendos  2020
187  28/05/2020         TAEE4 - TAESA  17.46  Dividendos  2020
190  26/08/2020         TAEE4 - TAESA  21.34  Dividendos  2020
208  25/11/2020         TAEE4 - TAESA  13.20  Dividendos  2020
209  18/12/2020        SMLS3 - SMILES  19.20  Dividendos  2020

Somatorio de cada categoria agrupado por produto

## Detalhamento de valor total por ano de cada ativo

### Rendimentos
Anual para cada ativo

In [23]:
dataREND.groupby(['ano', 'produto']).sum('saldo')

                             saldo
ano  produto
2020 ALZR11 - FII ALIANZA     0.75
     BBAS3 - BRASIL           0.16
     BBPO11 - FII BB PRGII    4.28
     BCFF11 - FII BC FFII   158.87
     BRCO11 - FII BRESCO      2.20
     BRCR11 - FII BC FUND     2.24
     GTWR11 - FII G TOWERS    3.45
     HCTR11 - FII HECTARE    35.56
     HFOF11 - FII HEDGEFOF    2.63
     HGBS11 - FII CSHGSHOP    1.55
     HGCR11 - FII CSHG CRI    1.96
     HGLG11 - FII CSHG LOG   81.06
     HGRE11 - FII HG REAL     3.17
     HGRU11 - FII CSHG URB    0.68
     KNIP11 - FII KINEA IP    3.94
     MALL11 - FII MALLS BP    0.58
     MGFF11 - FII MOGNO       6.28
     MXRF11 - FII MAXI REN   36.24
     RBRP11 - FII RBR PROP   11.00
     RBVA11 - FII RIOB VA     4.25
     VILG11 - FII VINCILOG    0.60
     VISC11 - FII VINCI SC    1.40
     VRTA11 - FII FATOR VE    0.79
     XPLG11 - FII XP LOG     13.91
     XPML11 - FII XP MALLS   23.38

### Juros sobre capital (JCP)
Anual para cada ativo

In [24]:
dataJCP.groupby(['ano', 'produto']).sum('saldo')

                          saldo
ano  produto
2020 B3SA3 - B3            2.67
     BBAS3 - BRASIL       50.44
     MGLU3 - MAGAZ LUIZA   0.36
     ODPV3 - ODONTOPREV    2.13
     RENT3 - LOCALIZA      0.62
     TAEE4 - TAESA        21.04

### Dividendos
Anual para cada ativo

In [25]:
dataDIV.groupby(['ano', 'produto']).sum('saldo')

                           saldo
ano  produto
2020 B3SA3 - B3             6.49
     ITSA4 - ITAUSA         8.00
     JHSF3 - JHSF PART      7.88
     KLBN4 - KLABIN S/A     0.09
     LREN3 - LOJAS RENNER   0.04
     ODPV3 - ODONTOPREV    13.68
     SMLS3 - SMILES        19.20
     TAEE4 - TAESA         66.43

## Total de proventos

### Total de rendimentos no ano escolhido

In [26]:
totalREND = dataREND.groupby('ano').sum('saldo')
totalREND if not totalREND.empty else 0

       saldo
ano
2020  400.93

### Total de JCP no ano escolhido

In [27]:
totalJCP = dataJCP.groupby('ano').sum('saldo')
totalJCP if not totalJCP.empty else 0

      saldo
ano
2020  77.26

### Total de Dividendos no ano escolhido

In [28]:
totalDIV = dataDIV.groupby('ano').sum('saldo')
totalDIV if not totalDIV.empty else 0

       saldo
ano
2020  121.81

## Total geral no ano escolhido

In [29]:
(totalDIV if not totalDIV.empty else 0) + (totalJCP if not totalJCP.empty else 0) + (totalREND if not totalREND.empty else 0)

      saldo
ano
2020  600.0